{% extends 'base.html.twig' %}

{% block title %}Edit AssetsLinks{% endblock %}

{% block body %}
    <h1>Edit AssetsLinks</h1>

    {{ include('assets_links/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_assets_links_index') }}">back to list</a>

    {{ include('assets_links/_delete_form.html.twig') }}
{% endblock %}
