.contenedor-login {
    width: 700px;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #453c98d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.h2-login{
    font-size: 3rem;
    color: white;
    margin: 0 0 30px 0;
}

.input-contenedor-login{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;


}

.label-text-login{
    font-size: 1.5rem;
    color: white;
}

.input-login{
    width: 70%;
    padding: 10px;
    color: white;
    border-radius: 40px;
    border: 3px solid #ccc;
    background-color: #d9d9d917;
    outline: none; 
    margin-bottom: 25px;
    text-align: center;
}

.input-login::placeholder {
    color: #FFFFFF94;
    text-align: center;
}

.input-login:focus {
    border-color: #F6D3C1; /* Cambiar el color del borde al hacer clic en el input */
  }

.button-login {
    background-color: #4a2fa3ed;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 12px 24px; 
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s; 
    margin: 0;
    &:hover {
        background-color: #4F59CF;
    }
}
  
  /* Estilo del botón cuando está deshabilitado (opcional) */
.button-login:hover {
    background-color: #4F59CF;
}
