@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');


.modal-content {
    width: 600px;
    background-color: #F6D3C1;
    justify-content: center;
    font-family: "Poppins", sans-serif, Helvetica;
    align-content: center;
}

.modal-header {
    background-color: #3A3280;
}

.modal-title.h4 {
    font-family: "Poppins";
    color: aliceblue;

}

.modal-footer {
    background-color: #3A3280;
    height: 50px;
}

.StyleText {
    color: black;
}

div.modal-body {
    background-color: rgba(241, 228, 217, 0.737);
}

div.fade.modal.show {
    justify-content: flex-start;
    background: none;
}

.btn.btn-light {
    position:fixed;
    margin: auto;
    margin-left: 10px;
}