.contenedor-register {
    width: 80%;
    height: 700px;
    font-family: "Poppins";
    background-color: #453c98d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 101;
    position: relative;
    margin-top: 6rem;
    margin-left: 6rem;
  }

.h2-register{
    font-size: 2rem;
    color: white;
    margin: 0 0 5px 0;
}

.p-register{
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

.input-contenedor-register{
    width: 70%;
    margin-bottom: 10px;

}

.label-text-register{
    font-size: 1.5rem;
    color: white;
}

.input-register{
    width: 70%;
    padding: 10px;
    color: white;
    border-radius: 40px;
    border: 3px solid #ccc;
    background-color: #d9d9d917;
    outline: none; 
    text-align: center;
}

.input-register::placeholder {
    color: #FFFFFF94;
    text-align: center;
}

.input-register:focus {
    border-color: #F6D3C1; /* Cambiar el color del borde al hacer clic en el input */
  }

.button-register {
    background-color: #4a2fa3ed;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 12px 24px; /* Aumentar un poco el padding para un aspecto más equilibrado */
    cursor: pointer;
    font-size: 1.5rem; /* Tamaño de fuente más grande */
    transition: background-color 0.3s; /* Agregar una transición suave de color de fondo */

    /* Estilo al pasar el ratón por encima del botón */
    &:hover {
        background-color: #4F59CF;
    }
}
  
  /* Estilo del botón cuando está deshabilitado (opcional) */
.button-register:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
  
@media (max-width: 768px) {
    .input-contenedor{
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .input-contenedor{
        width: 90%;
    }
}