.contenedor--sobre-f5 {
  background-color: #F6D3C1;
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Necesario para posicionar elementos absolutos dentro de él */
}

.title-sobre-f5 {
  padding: 20px;
  text-align: center; /* Alinea el texto en el centro horizontalmente */
}
