.background-container {
    position: relative;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen de fondo según el contenedor */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca la imagen de fondo detrás de otros elementos */
  }
  
  .button-container {
    position: absolute;
    top: 50%; /* Ajusta la posición vertical según tus necesidades */
    left: 50%; /* Ajusta la posición horizontal según tus necesidades */
    transform: translate(-50%, -50%);
    z-index: 1; /* Coloca el botón delante de la imagen de fondo */
  }
  
  /* Estilos para el botón */
  button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
