footer {
  background-color: #F6D3C1;
  color:  #000;
  text-align: center;
  padding: 1px ;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; 
  line-height: 1.5px; 
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
}

.column {
  padding: 10px;
  text-align: center;
}

.column p {
  margin: 1;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.redes-sociales a {
  display: block;
  margin-top: 10px;
}

.redes-sociales img {
  max-width: 100%;
  height: auto;
}


@media screen and (min-width: 769px) {
  
  .container {
    grid-template-columns: repeat(3, 1fr); 
  }
}