body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Evita el desplazamiento vertical */
}

.background-image {
  width: 100%;
  height: 100vh; /* Establece la altura al 100% de la ventana del navegador */
  background-size: cover;
  background-position: center center;
}

.login-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto asegura que todo el contenedor esté centrado verticalmente */
}

.login-box {
  width: 500px;
  height: 380px;  /* Otros estilos para el cuadro de inicio de sesión */
  border-radius: 10px;
  padding: 20px;
  /* Agrega cualquier otro estilo que necesites */
}
