#login{
  position: absolute;
  color: rgb(232, 229, 229);
  background-color: #3A3280;
  margin-top: 580px;
  margin-left: 700px; 
  width: 110px;
  font-size: small;
  padding: 10; 
}

#login:hover {
  background-color: rgb(203, 198, 186);
  color: black;
}

#register{
  position: absolute;
  color: rgb(232, 229, 229);
  background-color:  #3A3280;   
  margin-top: 580px;
  margin-left: 600px;
  padding: 10; 
  width: 110px;
  font-size: small;
}
#register:hover {
  background-color: rgb(203, 198, 186);
  color: black;
}

.log {
  margin-left: 2rem;
}

.reg {

}