<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
            color: #666;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container"> 
        <h1>¡Hola {{Name}}, Gracias por contactar con F5 </h1> <br>
        <h3>Este correo se le ha enviado para confirmar que hemos recibido su mensaje.</h3>
        <h3>Nuestro equipo se pondra en contacto con usted lo mas antes posible.</h3>

        <p> 
            ¡Que tenga una excelente dia!<br>
            Un saludo muy cordial de parte de <strong>Equipo de F5</strong>
        </p>
    </div>
</body>
</html>
