@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif, Helvetica;
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
  }
  
  .login-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box-register {
    width: 626px;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 476px;
  }
 
  .contenedor-register {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    background-color: #fff; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308); 
  }
